html, body{
    height: 100%;
}

body{
    min-height: 100%;
    /* display: flex;
    flex-direction: column; */
}
.navbar{
    /* height: 100%; */
    /* background-color: #e57b25; */
}

.flex {
    display: flex;
}

.flex-grow-1 {
    flex-grow: 1;
}

.navbar .flex-1 {
    flex: 1;
    flex-basis: 100%;
}

.navbar-brand img{
    position: relative;
    border-radius: 50%;
    width: 70px;
    left: 10px;
    size: contain;
}
.prof-pic{
    border-radius: 50%;
    width: 70px;
    right: 15px;
}
#dropdownMenuButton1{
    border-radius: 70%;
}
.quote{
    margin-left : 10px;
    opacity : 90%;
}
.btn-cust{
    background-color: white;
}
#dropdownMenuButton1{
    margin-right: 50px;
}
.drop-menu-1{
    margin: -30px;
}
footer{
    margin-top: auto;
}
.footer-cust{
    background-color: #262626;
    padding-bottom: 40px;
}
.inner-container-fluid{
    height: 100%;
    /* untuk sidebar dengan content */
    /* flex: 1 1 auto; */
}
.container-fluid{
    /* untuk header */
    /* padding-left: 20rem;
    padding-right: 20rem; */
    
}
header{
    /* height : 100%; */
    background-color: #e57b25;
}
.container-fluid-main{
    /* untuk sidebar/content and footer */
    height : 78%;
}
#sidebar{
    /* float: left; */
    /* height:100%; */
}
.sidebar{
    min-height:100%;
    width: 280px;
}
#content{
    height: 100%;
/* float: right; */
}

.toggle__expand {
    
    width: 2rem;
    height: 2rem;
    background-color: white;
    box-shadow: 0px 0px 10px black;
    border-radius: 50%;
    position: absolute;
    top: 1rem;
    z-index:99;
    cursor: pointer;
}

#toggle.active::before{
    transform: rotate(90deg);
}

#toggle.active::after{
    transform: rotate(-90deg);
}
#footer{
    margin-top:auto;
}

/* login.php */

body{ font: 14px sans-serif; }
.wrapper{ 
    width: 360px; 
    padding: 20px; 
}